/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
	margin: 0px;
	color: white;
	font-family: "Zalando Sans", "Arial", sans-serif;
}
.sans-extended {
	font-family: "Zalando Sans Expanded", "Arial", sans-serif;
}

/* The animated background (run by /js/constel.js) */
#constellation {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: #0a0a0a;
}
#constellation-canvas {
	width: 100%;
	height: 100%;
}

/* The nav bar */
header {
	position: fixed;
	left: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 75px;
	box-sizing: border-box;
	background-color: black;
	padding: 0px 25px;
}
/* Collapse menu for small screens */
#burger {
	display: none;
	cursor: pointer;
	min-height: 24px;
	flex: none;
}
#name-logo {
	font-size: 28px;
}
nav {
	display: flex;
	justify-content: space-around;
	margin-left: 15px;
	padding-right: 3em;
	flex: 1;
	font-size: 20px;
}
a {
	color: white;
}
a:hover {
	color: skyblue;
}
a.emph-link {
	color: orange;
	font-weight: bold;
}
.orange {
	color: orange;
}

/* Cool title that cool people read */
#title-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 70vh;
	padding-top: calc(100px + 5vh);
}
#fallback-title-name {
	font-size: 75px;
}
#aboutme {
	font-size: 30px;
	font-weight: normal;
}

/* Tiles regarding specific pages */
#main-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 50px;
	margin-top: 50px;
	margin-bottom: 100px;
}
.page-tile, .content-tile {
	box-sizing: border-box;
	background-color: rgb(30 30 30 / 95%);
	width: 90%;
	max-width: 1000px;
	min-height: 150px;
	padding: 5%;
	border-radius: 10px;
	word-wrap: break-word;
}
.page-tile {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	gap: 10px;
}
.page-examples {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-title {
	font-size: 28px;
	font-weight: bold;
}
.page-desc {
	font-size: 16px;
}

footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: black;
	font-size: 20px;
}
footer a {
	color: white;
}
#secret-img {
	position: absolute;
	right: 25px;
	bottom: 25px;
	cursor: pointer;
	transform: scale(1.8);
	image-rendering: pixelated;
}

/* Special styling for the contact form */
#contact-header {
	text-align: center;
	font-size: 34px;
}
#contact-form legend {
	background-color: black;
	padding: 5px 10px;
}
#contact-form fieldset {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	gap: 40px;
	margin-top: 40px;
	padding: 20px 40px 40px 40px;
}
.input-wrapper {
	display: grid;
	grid-template: 1.5em 1fr / 1fr;
}
#contact-form label {
	overflow: visible;
}
#contact-form input {
	max-height: 2em;
	width: 100%;
}
input#contact-submit {
	font-size: 18px;
	width: 50%;
	height: 2em;
	margin-top: 60px;
	margin-left: 25%;
	border-radius: 10px;
	border: 1px solid black;
	filter: drop-shadow(5px 5px 2px black);
	cursor: pointer;
}
input#contact-submit:hover {
	background: skyblue;
}

.content-tile {
	font-size: 16px;
}
#content-descriptor {
	font-size: 28px;
	margin-bottom: 2.5em;
	font-weight: normal;
	text-align: center;
}
.page-examples > img {
	width: 100%;
	max-width: 280px;
	aspect-ratio: 1;
}

/* Support people with the teeny-tiny baby screens */
/* Replace the nav bar with a collapsable second nav bar that scales better */
@media (max-width: 800px) {
	header {
		justify-content: space-between;
	}
	#burger {
		display: block;
	}
	nav {
		position: fixed;
		left: 0px;
		top: 75px;
		display: flex;
		align-items: center;
		width: 100%;
		height: 75px;
		box-sizing: border-box;
		background-color: #0f0f0f;
		margin: 0px;
		padding: 0px 25px;
	}
	nav:not(.reveal) {
		display: none;
	}
	.nav-link {
		font-size: min(4vmin, 20px);
	}
}